<div class="row container">
    <div class="breadcrumb">
        <div class="active row">
            <label ng-bind="currentUserName"></label>
            <a href="#/authorization"> Logout</a>
        </div>
    </div>
    <div class="col-md-4">
        <div room-panel="" ng-controller="managePublicRoomController"></div>
        <div room-panel="" ng-controller="managePrivateRoomController"></div>
        <div all-users-panel="" ng-controller="chatController"></div>
    </div>
    <div messages-panel="" ng-controller="messageController"></div>
</div>
