<div class="row container">
    <div class="breadcrumb">
        <div class="active row">
            <label ng-bind="currentUserName"></label>
            <a href="#/authorization"> Logout</a>
        </div>
    </div>
    <div class="col-md-4">
        <div ng-controller="managePublicRoomController">
            <room-panel></room-panel>
        </div>
        <div ng-controller="managePrivateRoomController">
            <room-panel></room-panel>
        </div>
        <div ng-controller="chatController">
            <all-users-panel></all-users-panel>
        </div>
    </div>
    <div messages-panel="" ng-controller="messageController"></div>
</div>
