<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span ng-bind="roomTypeName"></span>
            <button class="btn btn-default" type="button" ng-click="showAddRoomModal()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </h3>
    </div>
    <div class="panel-body">
        <form class="input-group" name="searchForm">
            <input type="text" class="form-control" ng-model="searchedRoomName"
                   placeholder="Input name of searched room here ...">
             <span class="input-group-btn">
                 <button class="btn btn-primary search-button" type="submit" ng-click="searchRoom(searchForm)">
                     Search
                 </button>
             </span>
        </form>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="room in rooms| orderBy:room.id| filter:{name:confirmedSearchRoomName}"
               ng-click="showSelectedRoom(room.id)" tabindex="0">
                <span ng-bind="room.name"></span>
                <span class="badge" ng-bind="room.numberOfNotifications"></span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="showEditRoomModal(room.id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-info" type="button" ng-click="showDeleteRoomModal(room.id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </li>
        </ul>
    </div>
</div>